:root {
    // COLORS
    --primaryColor: #7C71ED;
    --secondaryColor: #FD6036;
    --accentColor: #FFD202;

    --darkColor: #201F20;
    --lightColor: #FFFF;

    --bgColor: #EEF6F6;

    //DIMENSION
    --header-height: 70px;
    --footer-height: 30px;
    --main-vh: calc(100vh - (var(--header-height) + var(var(--footer-height))));

}