:root {
    // colors
    --primaryMain: #D61C4E;
    --secondaryMain: #1CD6CE;
    --secondaryMainDarker: #15ada6;
    --basicBlack: #030920;
    --darkBlue: #192451;
    --mainYellow: #FEDB39;
    --bgGrey: #F2F4F7;
    --darkGrey: #A1A1A1;
    --darkerGrey: #717171;
    --lightGrey: #EAEAEA;
    --socials: #344054;
    --lorem: #667085;
    --purple: #a68ba7;

}