@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

//RESET
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    // overflow-y: hidden;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}


//FONTS
body {

    p,
    a,
    span {
        font-family: "Mulish", sans-serif !important;
    }

    h1,
    h2,
    h3 {
        font-family: "Black Han Sans", sans-serif !important;
    }

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.1rem;
    }
}

//BORDER
.ms-border-top {
    border-top: 1px solid var(--darkColor);
}

.ms-border-bottom {
    border-bottom: 1px solid var(--darkColor);
}

.ms-border-right {
    border-right: 1px solid var(--darkColor);
}

.ms-border-left {
    border-left: 1px solid var(--darkColor);
}

//BTN
.ms-btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    padding: .3rem 1rem;

    font-family: "Mulish", sans-serif !important;
    font-weight: bolder;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.ms-btn-black {
    border: 3px solid var(--darkColor);
    color: (--darkColor);

    &:hover {
        color: var(--lightColor);
        background-color: var(--darkColor);
    }
}

.ms-btn-purple {
    border: 3px solid var(--primaryColor);
    color: var(--primaryColor);

    &:hover {
        color: var(--lightColor);
        background-color: var(--primaryColor);
    }
}

.ms-btn-orange {
    border: 3px solid var(--secondaryColor);
    color: var(--secondaryColor);

    &:hover {
        color: var(--lightColor);
        background-color: var(--secondaryColor);
    }
}

.ms-btn-yellow {
    border: 3px solid var(--accentColor);
    color: var(--accentColor);

    &:hover {
        color: var(--lightColor);
        background-color: var(--accentColor);
    }
}

//BACKGROUND
.ms-bg {
    background-color: var(--bgColor);
}

.ms-bg-yellow {
    background-color: var(--accentColor);
}

.ms-bg-orange {
    background-color: var(--secondaryColor);
}

.ms-bg-purple {
    background-color: var(--primaryColor);
}

.ms-bg-black {
    background-color: var(--darkColor);
}

//Skills dimension
.ms-skills {
    width: 5em;
}